
.custom-shape-divider-top-1721898785 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1721898785 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 0px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1721898785 .shape-fill {
    fill: #FFFFFF;
}